html {
    font-size: .875rem;
}

h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
}

a  {
    text-decoration: none
}

a[href^="//"]:after, a[href^="http://"]:after, a[href^="https://"]:after {
    content: url(/images/external2.png);
    position: relative;
    top: -0.25rem;
    left: 0.1rem;
    margin-right: 0.125rem;
}

a.nav-link:after {
    content: none;
}

c, code {
    color: black;
    background-color: #eee;
}

c {
    padding-inline-start: 0.25em;
    padding-inline-end: 0.25em;
}

div.search {
    margin-bottom: 1rem;
}

div.search input {
    width: 50%;
}

.container {
    max-width: 100%;
}

.fsc-logo {
    width: 32px;
    height: 32px;
}

.nav-link {
    font-size: 1.25rem;
}

.fsc-navbar {
    width: 100%;
}

.fsc-navbar-left {
    flex-shrink: 0;
}

.fsc-navbar-right {
    flex-grow: 0;
    flex-basis: content;
}

div.fsc-navigation-forest {
    flex-grow: 0;
    flex-basis: content;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #888;
}

.fsc-navigation-forest {
    --spacing: 1.5rem;
    --radius: 10px;
}

.fsc-navigation-forest li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius));
}

.fsc-navigation-forest ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}

.footer {
    padding-top: 1rem;
}

.frontmatter {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.frontmatter td {
    padding-right: 1rem;
}

.frontmatter-label {
    font-weight: 600;
}

.fsc-typeinfo {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.fsc-typeinfo td {
    padding-right: 1rem;
}

.fsc-tododone {
    padding-bottom: 4px;
}

div.csharp, div.xml, div.json {
    background-color: #eee;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

div.csharp pre, div.xml pre, div.json pre {
    margin-bottom: 0;
}

.comment {
    color: #008000;
}

.keyword {
    color: #0000ff;
}

.xmlDocTag {
    color: #008000;
}

.xmlDocComment {
    color: #008000;
}

.string {
    color: #a31515;
}

.xmlDelimiter {
    color: #008000;
}

.xmlName {
    color: #008000;
}

.markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.markdown-alert > :first-child {
    margin-top: 0;
}

.markdown-alert > :last-child {
    margin-bottom: 0
}

.markdown-alert-title {
    font-weight: bold;
}

.markdown-alert-title svg {
    display: none;
}

.markdown-alert.markdown-alert-warning {
    background-color: #ffeecc;
}