html {
    font-size: .875rem;
}

a  {
    text-decoration: none
}

a[href^="//"]:after, a[href^="http://"]:after, a[href^="https://"]:after {
    content: url(/images/external.png);
    position: relative;
    top: -0.25rem;
    left: 0.1rem;
}

c, code {
    color: black;
    background-color: #eee;
}

c {
    padding-inline-start: 0.25em;
    padding-inline-end: 0.25em;
}

code {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.container {
    max-width: 100%;
}

.nav-link {
    font-size: 1.25rem;
}

div.fsc-navigation-forest {
    flex-grow: 0;
    flex-basis: content;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #888;
}

.fsc-navigation-forest {
    --spacing: 1.5rem;
    --radius: 10px;
}

.fsc-navigation-forest li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius));
}

.fsc-navigation-forest ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}

.footer {
    padding-top: 1rem;
}

.fsc-frontmatter {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.fsc-frontmatter td {
    padding-right: 1rem;
}